/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {
	text-align: center;
	vertical-align: center;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	height: 140px;
	background-color: rgb(33,37,41);
	color: white;
}

html, body {
   height:100%;
}

#container {
   min-height:100%;
   height:100%;
   position:relative;
}

#body {
	margin: 30px;
}

#footer {
	text-align: right;
	vertical-align: center;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	background-color: rgb(33,37,41);
	color: white;
	padding: 20px;
	height: 100px;
	position: relative;
   	bottom:0;
   	width: 100%;
}

div#footer h5{
	font-size: 12pt;
}

div#footer p{
	font-size: 8pt;
}

div#footer td{
	padding: 0;
	padding-left: 20px;
}

div#footer a{
	color: white;
}

div#header a{
	color: white;
}

table.credits {
	width: auto;
    margin-right: 0px;
    margin-left: auto;
}