// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
	padding: 10px;
}

table {
	border-collapse: collapse;
}

.even {
	background-color: #D6E1C3;
}

.effectscale {
	height:200px;
}

.effectscale:hover {
  #-webkit-transform: scale(2);
  #-moz-transform: scale(2);
  #-o-transform: scale(2);
  transform: scale(2);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}

table.pages{
	width: auto;
    margin-right: auto;
    margin-left: auto;
}

img.star{
	border: 0 none;
  	display: inline-block;
  	height: 9px;
  	margin: 0;
  	padding: 0;
  	margin-top: 5px;
}