// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
	padding: 10px;
}

table {
	border-collapse: collapse;
}

.even {
	background-color: #D6E1C3;
}

.effectscale {
	height:200px;
  	transition: all 0.5s;
  	-webkit-transition: all 0.5s;
}

.effectscale:hover {
  #-webkit-transform: scale(2);
  #-moz-transform: scale(2);
  #-o-transform: scale(2);
  transform: scale(2);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}